<section class="nes-container with-title mb-4">
  <p class="title">
    {{t "message.message"}}
  </p>
  {{#if (eq @messages.length 0)}}
    <p class="nes-text is-primary">{{t "message.no_message"}}</p>
  {{else}}
    <ul class="mb-message-container">
      {{#each @messages as |message|}}
        <li class="mb-message-item mb-2">
          <div class="mb-message-item-avatar-container">
            <i class="{{message.user.avatar}} mb-avatar--small"></i>
          </div>
          <span class="nes-text is-primary">{{message.user.username}}:</span>
          <span>{{message.message}}</span>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</section>