<div class="layout-body__container pv-4">
  <a
    class="nes-container is-rounded mb-4 link-without-style"
    href="https://bla-bla.club/talkwithmichael/"
    target="_blank"
    rel="noreferrer noopener"
  >
    <p class="nes-text is-primary">
      {{t "home.title"}}
      :
      {{t "home.title_content"}}
    </p>
    <p>
      {{t "home.description"}}
      :
      {{t "home.description_content"}}
    </p>
    <Avatar @character="tight-fisted" @username="Michael">
      <span class="nes-text is-success">
        {{t "home.host"}}
      </span>
    </Avatar>
  </a>
  {{#each this.model.rooms as |room|}}
    <Room @room={{room}} />
  {{/each}}
</div>