<div class="mb-avatar inline-flex flex-column align-items-center">
  <div class="display-flex justify-center">
    <i class={{@character}}></i>
  </div>
  <span class="nes-text is-primary display-flex align-items-center">
    {{truncate @username 10}}
    {{#if (eq @state this.userState.MUTED)}}
      <img src="/assets/icons/mute-icon.png" alt={{t "room.mute"}} />
    {{else if (eq @state this.userState.SPEAK)}}
      <img src="/assets/icons/speaking-icon.png" alt={{t "room.discuss"}} />
    {{else if (eq @state this.userState.RAISE_HAND)}}
      <img src="/assets/icons/discuss-icon.png" alt={{t "room.discuss"}} />
    {{/if}}
  </span>
  <span class="nes-text is-warning">
    {{@status}}
  </span>
  <span>
    {{yield}}
  </span>
</div>