<LinkTo @class="nes-container is-rounded mb-4 link-without-style" @route="authentication.room" @model={{@room.objectId}}>
  {{#if @room.scheduledTime}}
    <p class="nes-text is-warning">{{t "scheduled_time"}}: {{display-date @room.scheduledTime}}</p>
  {{/if}}
  <p>{{t "room.title"}}: {{@room.title}}</p>
  {{#if @room.description.description}}
    <p>{{t "room.description"}}: {{@room.description.description}}</p>
  {{/if}}
  <Avatar
    @character={{@room.adminUserAvatar}}
    @username={{@room.adminUsername}}
  >
    <span class="nes-text is-success">{{t "home.host"}}</span>
  </Avatar>
</LinkTo>