<div
  class="layout-nav display-flex justify-space-between align-items-flex-end nes-container is-rounded is-dark m-0"
>
  <LinkTo @route="authentication.home">
    <img src="/assets/images/logo-small.png" height={{56}} alt={{t "settings.back_to_home"}} />
  </LinkTo>
  <div class="display-flex flex-wrap">
    {{#if this.authentication.isAdmin}}
      <LinkTo @route="authentication.admin" class="nes-btn is-warning mr-4">
        {{t "nav.admin"}}
      </LinkTo>
    {{/if}}
    <LinkTo @route="authentication.home" class="nes-btn is-warning mr-4">
      {{t "nav.home"}}
    </LinkTo>
    <LinkTo @route="authentication.create-room">
      <span class="nes-btn is-warning mr-4">
        {{t "nav.create_a_room"}}
      </span>
    </LinkTo>
    <button
      type="button"
      class="nes-btn is-primary mr-4"
      {{on "click" @showReleaseModal}}
    >
      {{t "home.show_modal"}}
    </button>
    <a
      href="https://www.wenjuan.com/s/UZBZJv3abt/?sr=wenjuan_mini_app&sy=2"
      target="_blank"
      rel="noopener noreferrer"
      class="nes-btn is-primary mr-4"
    >
      {{t "questionnaire"}}
    </a>
    <Dropdown as |dropdown|>
      <dropdown.trigger>
        <i class="{{this.authentication.avatar}} mb-avatar--small"></i>
      </dropdown.trigger>
      <dropdown.content>
        <dropdown.item>
          <LinkTo @route="authentication.settings" class="nes-btn">
            {{t "nav.settings"}}
          </LinkTo>
        </dropdown.item>
        <dropdown.item>
          <button type="button" class="nes-btn" {{on "click" this.logout}}>
            {{t "nav.logout"}}
          </button>
        </dropdown.item>
      </dropdown.content>
    </Dropdown>
  </div>
</div>