<div class="layout-body__container pv-4">
  {{#if (eq this.currentState this.state.login)}}
    <img src="/assets/images/logo.png" alt={{t "login.alt_str"}} />
    <div class="nes-container with-title">
      <p class="title">
        {{t "login.title"}}
      </p>
      <div class="nes-field mb-4">
        <label for="user-name">
          {{t "login.username"}}
        </label>
        <Input
          @type="text"
          @id="user-name"
          @value={{this.username}}
          class="nes-input"
          placeholder={{t "login.username_placeholder"}}
        />
      </div>
      <div class="nes-field mb-4">
        <label for="password">
          {{t "login.password"}}
        </label>
        <Input
          @type="password"
          @id="password"
          @value={{this.password}}
          class="nes-input"
          placeholder={{t "login.password"}}
        />
        {{#if this.isResetPasswordSucceed}}
          <p class="nes-text is-success">
            {{t "login.send_email"}}
          </p>
        {{else}}
          <a href="#" {{on "click" (set this "isShowResetPassword" true)}}>
            {{t "login.forget_password"}}
          </a>
        {{/if}}
      </div>
      {{#if this.isShowResetPassword}}
        <div class="nes-field mb-4">
          <label for="user-email">
            {{t "login.enter_email"}}
          </label>
          <Input
            @type="email"
            @id="user-email"
            @value={{this.email}}
            class="nes-input"
            placeholder={{t "login.email"}}
          />
        </div>
      {{/if}}
      <div class="display-flex justify-space-between">
        {{#if this.isShowResetPassword}}
          <button
            type="button"
            class="nes-btn is-primary m-0
              {{if this.isResetPasswordBtnDisabled " is-disabled"}}"
            disabled={{this.isResetPasswordBtnDisabled}}
            {{on "click" this.resetPassword}}
          >
            {{t "login.reset_password"}}
          </button>
        {{else}}
          <button
            type="button"
            class="nes-btn is-primary m-0
              {{if this.isLoginBtnDisabled " is-disabled"}}"
            disabled={{this.isLoginBtnDisabled}}
            {{on "click" this.login}}
          >
            {{t "login.login"}}
          </button>
        {{/if}}
        <LinkTo @route="register">
          <span class="nes-btn is-success">
            {{t "login.register"}}
          </span>
        </LinkTo>
      </div>
    </div>
  {{else if (eq this.currentState this.state.error)}}
    <div class="nes-container with-title">
      <p class="title">
        {{t "login.login_error"}}
      </p>
      <p class="nes-text is-error">
        {{this.errorMessage}}
      </p>
      <button
        type="button"
        class="nes-btn is-primary"
        {{on "click" this.reset}}
      >
        {{t "login.try_again"}}
      </button>
    </div>
  {{/if}}
</div>