<div class="layout-body__container pv-4">
  {{#if (eq this.currentState this.state.admin)}}
    <div class="nes-container with-title mv-4">
      <p class="title">
        {{t "admin.generate_code"}}
      </p>
      <div class="nes-field mb-4">
        <label for="number-of-invite-code">
          {{t "admin.generate_code_count"}}
        </label>
        <Input
          @type="number"
          @id="number-of-invite-code"
          @value={{this.inviteCodeInput}}
          @key-up={{this.checkInput}}
          class="nes-input"
          placeholder="enter the number between 1 to 100"
        />
        {{#if this.inviteCodeInputError}}
          <p class="nes-text is-error">
            {{t "admin.incorrect_input"}}
          </p>
        {{/if}}
      </div>
      {{#if this.inviteCode}}
        <div class="lists">
          <ul class="nes-list is-disc">
            {{#each this.inviteCode as |inviteCode|}}
              <li>
                {{inviteCode}}
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
      <div class="display-flex justify-space-between">
        <button
          type="button"
          class="nes-btn is-success m-0
            {{if this.isGenerateBtnDisabled " is-disabled"}}"
          disabled={{this.isGenerateBtnDisabled}}
          {{on "click" this.createInviteCode}}
        >
          {{t "admin.generate_code"}}
        </button>
      </div>
    </div>
    <div class="nes-container with-title mv-4">
      <p class="title">
        {{t "admin.list_code"}}
      </p>
      <div class="lists">
        <ul class="nes-list is-disc">
          {{#each this.unredeemedInviteCodes as |code|}}
            <li>
              {{t "admin.code"}}
              :
              <input
                type="text"
                id="code-{{code.inviteCode}}"
                value={{code.inviteCode}}
              />
              <button
                type="button"
                {{on "click" (fn this.copyCode code.inviteCode)}}
              >
                {{t "admin.copy"}}
              </button>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="nes-container with-title mv-4">
      <p class="title">
        {{t "admin.redeemed"}}
      </p>
      <div class="lists">
        <ul class="nes-list is-disc">
          {{#each this.redeemedInviteCodes as |code|}}
            <li>
              {{code.inviteCode}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{else if (eq this.currentState this.state.error)}}
    <div class="nes-container with-title">
      <p class="title">
        {{t "admin.leancloud_error"}}
      </p>
      <p class="nes-text is-error">
        {{t "admin.leancloud_error_content"}}
      </p>
      <LinkTo @route="authentication.home" class="nes-btn is-primary">
        {{t "admin.back"}}
      </LinkTo>
    </div>
  {{/if}}
</div>