<div class="layout-body__container pv-4">
  <div class="nes-container with-title mb-4">
    <p class="title">
      {{t "room.room_title"}}
    </p>
    <p>
      <span class="nes-badge">
        <span class="is-error">
          {{t "room.title"}}
        </span>
      </span>
      {{this.model.title}}
    </p>
    <p>
      <span class="nes-badge">
        <span class="is-warning">
          {{t "room.description"}}
        </span>
      </span>
      {{#if this.model.description.description}}
        {{this.model.description.description}}
      {{else}}
        {{t "room.welcome"}}<i class="nes-icon heart"></i>
      {{/if}}
    </p>
  </div>
  {{#if (eq this.currentState this.state.LOADING)}}
    <div class="nes-container with-title mb-4">
      <p class="title">
        {{t "room.loading"}}
      </p>
      <p class="nes-text is-primary">
        {{t "room.loading_content"}}
      </p>
    </div>
  {{else if (eq this.currentState this.state.ERROR.AGORA_CONNECT_FAIL)}}
    <div class="nes-container with-title mb-4">
      <p class="title">
        {{t "room.agora_fail"}}
      </p>
      <p class="nes-text is-error">
        {{t "room.agora_fail_content"}}
      </p>
      <div class="display-flex">
        <LinkTo @route="authentication.home">
          <span class="nes-btn is-success">
            {{t "room.join_another_room"}}
          </span>
        </LinkTo>
      </div>
    </div>
  {{else if (eq this.currentState this.state.ERROR.LEAN_CLOUD)}}
    <div class="nes-container with-title mb-4">
      <p class="title">
        {{t "room.leanCloud_fail"}}
      </p>
      <p class="nes-text is-error">
        {{t "room.leanCloud_fail_content"}}
      </p>
      <div class="display-flex">
        <LinkTo @route="authentication.home">
          <span class="nes-btn is-success">
            {{t "room.join_another_room"}}
          </span>
        </LinkTo>
      </div>
    </div>
  {{else if (eq this.currentState this.state.ERROR.API_SERVER)}}
    <div class="nes-container with-title mb-4">
      <p class="title">
        {{t "room.api_server_fail"}}
      </p>
      <p class="nes-text is-error">
        {{t "room.leanCloud_fail_content"}}
      </p>
      <div class="display-flex">
        <LinkTo @route="authentication.home">
          <span class="nes-btn is-success">
            {{t "room.join_another_room"}}
          </span>
        </LinkTo>
      </div>
    </div>
  {{else if (eq this.currentState this.state.CLOSED)}}
    <div class="nes-container with-title mb-4">
      <p class="title">
        {{t "room.room_is_closed"}}
      </p>
      <p class="nes-text is-error">
        {{#if (eq this.me.role this.userRole.ADMIN)}}
          {{t "room.room_close_success"}}
        {{else}}
          {{t "room.room_close_success_by_admin"}}
        {{/if}}
      </p>
      <div class="display-flex">
        <LinkTo @route="authentication.home">
          <span class="nes-btn is-success">
            {{t "room.join_another_room"}}
          </span>
        </LinkTo>
      </div>
    </div>
  {{else if (eq this.currentState this.state.READY)}}
    <div class="nes-container with-title mb-4">
      <p class="title">
        {{t "room.room_ready"}}
      </p>
      <p class="nes-text is-primary">
        {{t "room.room_ready_content"}}
      </p>
      <div class="display-flex justify-space-between">
        <button
          type="button"
          class="nes-btn is-primary"
          {{on "click" (set this "currentState" this.state.LOADED)}}
        >
          {{t "room.join"}}
        </button>
      </div>
    </div>
  {{else if (eq this.currentState this.state.LOADED)}}
    {{#if this.isShowPoorNetworkQuality}}
      <p class="nes-text is-error">
        {{t "room.poor_network"}}
        <span class="spinner"></span>
      </p>
    {{/if}}
    <div class="nes-container with-title mb-4">
      <p class="title">
        {{t "room.host"}}
      </p>
      <div>
        {{#each this.hosts as |host|}}
          <Avatar
            @character={{host.avatar}}
            @username={{host.username}}
            @state={{host.state}}
          >
            {{#if (eq this.me.role this.userRole.ADMIN)}}
              {{#unless host.isSelf}}
                <button
                  class={{if this.me.isSaving " is-disabled"}}
                  disabled={{this.me.isSaving}}
                  type="button"
                  {{on "click" (fn this.toggleHost host.userId)}}
                >
                  {{t "room.unhost"}}
                </button>
              {{/unless}}
            {{/if}}
          </Avatar>
        {{/each}}
      </div>
    </div>
    <div class="nes-container with-title mb-4">
      <p class="title">
        {{t "room.audience"}}
      </p>
      <div>
        {{#each this.guests as |guest|}}
          <Avatar
            @character={{guest.avatar}}
            @username={{guest.username}}
            @state={{guest.state}}
          >
            <div class="display-flex flex-column align-items-center">
              {{#if this.canHostAGuest}}
                <button
                  class="mt-1 {{if this.me.isSaving " is-disabled"}}"
                  disabled={{this.me.isSaving}}
                  type="button"
                  {{on "click" (fn this.toggleHost guest.userId)}}
                >
                  {{t "room.host"}}
                </button>
              {{/if}}
            </div>
          </Avatar>
        {{/each}}
      </div>
    </div>
    <Messages @messages={{this.messages}} />
    <Share @roomId={{this.roomId}} @hideGoToRoom={{true}} />
    <ReactionBox />
  {{/if}}
</div>
{{#if (eq this.currentState this.state.LOADED)}}
  <div class="bottom-nav nes-container pv-3">
    <div
      class="bottom-nav-content display-flex justify-space-between align-items-center flex-wrap"
    >
      {{#if this.me.showMessageInput}}
        <form class="mb-message-form" {{on "submit" this.sendMessage}}>
          <Input
            class="mb-message-input mr-4"
            @type="text"
            @value={{this.message}}
          />
          <button class="nes-btn is-primary mr-4" type="submit">
            {{t "room.send"}}
          </button>
          <i
            role="button"
            class="nes-icon close is-small"
            {{on "click" (set this "me.showMessageInput" false)}}
          ></i>
        </form>
      {{else}}
        <div>
          {{#if (eq this.me.role this.userRole.GUEST)}}
            <button
              type="button"
              class="nes-btn is-warning {{if this.me.isSaving " is-disabled"}}"
              disabled={{this.me.isSaving}}
              {{on "click" this.toggleRaiseHand}}
            >
              {{if
                (eq this.me.state this.userState.RAISE_HAND)
                (t "room.undo")
                (t "room.raise")
              }}
            </button>
          {{/if}}
          {{#if
            (or
              (eq this.me.role this.userRole.ADMIN)
              (eq this.me.role this.userRole.HOST)
            )
          }}
            <button
              type="button"
              class="nes-btn is-warning {{if this.me.isSaving " is-disabled"}}"
              disabled={{this.me.isSaving}}
              {{on "click" this.toggleMute}}
            >
              <div class="mb-image-with-icon">
                <img
                  class="mr-1"
                  src="/assets/icons/unmute-icon.png"
                  alt={{if
                    (eq this.me.state this.userState.MUTED)
                    (t "room.unmute")
                    (t "room.mute")
                  }}
                />
                <span>
                  {{if
                    (eq this.me.state this.userState.MUTED)
                    (t "room.unmute")
                    (t "room.mute")
                  }}
                </span>
              </div>
            </button>
          {{/if}}
          <button
            type="button"
            class="nes-btn is-primary"
            {{on "click" (set this "me.showMessageInput" true)}}
          >
            <div class="mb-image-with-icon">
              <img
                class="mr-1"
                src="/assets/icons/discuss-icon.png"
                alt={{t "room.discuss"}}
              />
              <span>
                {{t "room.discuss"}}
              </span>
            </div>
          </button>
        </div>
        <div>
          {{#if
            (or
              (eq this.me.role this.userRole.ADMIN) this.authentication.isAdmin
            )
          }}
            <button
              type="button"
              class="nes-btn {{if this.me.isSaving " is-disabled"}}"
              disabled={{this.me.isSaving}}
              {{on "click" this.closeRoom}}
            >
              <div class="mb-image-with-icon">
                <img
                  class="mr-1"
                  src="/assets/icons/close-icon.png"
                  alt={{t "room.close"}}
                />
                <span>
                  {{t "room.close"}}
                </span>
              </div>
            </button>
          {{/if}}
          <button
            type="button"
            class="nes-btn {{if this.me.isSaving " is-disabled"}}"
            disabled={{this.me.isSaving}}
            {{on "click" this.leaveRoom}}
          >
            <div class="mb-image-with-icon">
              <img
                class="mr-1"
                src="/assets/icons/leave-icon.png"
                alt={{t "room.leave"}}
              />
              <span>
                {{t "room.leave"}}
              </span>
            </div>
          </button>
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}