<div class="nes-container with-title">
  <p class="title">
    {{t "share.share"}}
  </p>
  <textarea
    id="textarea_field"
    rows="5"
    value={{this.shareText}}
    readonly={{true}}
    class="nes-textarea"
  ></textarea>
  {{#if this.isCopyLinkSucceed}}
    <p class="nes-text is-primary">
      {{t "share.link_copied"}}
    </p>
  {{/if}}
  {{#if this.isCopyLinkFail}}
    <p class="nes-text is-error">
      {{t "share.not_able_to_copy"}}
    </p>
  {{/if}}
  <div class="display-flex justify-space-between mt-4">
    <button
      type="button"
      class="nes-btn is-success m-0"
      {{on "click" this.copyLink}}
    >
      {{t "share.copy_share"}}
    </button>
    {{#unless @hideGoToRoom}}
      <LinkTo @route="authentication.room" @model={{@roomId}}>
        <span class="nes-btn is-success m-0">
          {{t "share.go_to_the_room"}}
        </span>
      </LinkTo>
    {{/unless}}
  </div>
</div>