<div class="layout-body__container pv-4">
  {{#if (eq this.currentState this.state.signUp)}}
    <div class="nes-container with-title">
      <p class="title">
        {{t "register.title"}}
      </p>
      <div class="mb-4">
        <p class="nes-text is-primary">
          {{t "register.select_avatar"}}
        </p>
        <div
          class="display-flex justify-space-between align-items-flex-start flex-wrap"
        >
          <AvatarSelector
            @chooseAvatar={{set this "chooseAvatar"}}
            @currentAvatar={{this.selectAvatar}}
          />
        </div>
      </div>
      <div class="nes-field mb-4">
        <label for="user-name">
          {{t "register.username"}}
        </label>
        <Input
          @type="text"
          @id="user-name"
          @value={{this.username}}
          @key-up={{this.usernameKeyUp}}
          class="nes-input"
          placeholder={{t "register.username"}}
        />
        {{#if this.usernameExceedLimit}}
          <p class="nes-text is-error">
            {{t "register.username_too_long"}}
          </p>
        {{/if}}
      </div>
      <div class="nes-field mb-4">
        <label for="password">
          {{t "register.password"}}
        </label>
        <Input
          @type="password"
          @id="password"
          @value={{this.password}}
          @key-up={{this.passwordKeyUp}}
          class="nes-input"
          placeholder={{t "register.password"}}
        />
      </div>
      <div class="nes-field mb-4">
        <label for="retype-password">
          {{t "register.retype_password"}}
        </label>
        <Input
          @type="password"
          @id="retype-password"
          @value={{this.retypePassword}}
          @key-up={{this.passwordKeyUp}}
          class="nes-input"
          placeholder={{t "register.retype_password"}}
        />
      </div>
      <div class="nes-field mb-4">
        <label for="user-email">
          {{t "register.email"}}
        </label>
        <Input
          @type="email"
          @id="user-email"
          @value={{this.email}}
          class="nes-input"
          placeholder={{t "register.email"}}
        />
      </div>
      <div class="nes-field mb-4">
        <label for="invitation-code">
          {{t "register.invitation_code"}}
        </label>
        <Input
          @type="text"
          @id="invitation-code"
          @value={{this.inviteCode}}
          class="nes-input is-disabled"
          placeholder={{t "register.invitation_code"}}
          disabled
        />
        <p class="nes-text is-success mt-4">
          {{t "register.email_to_get_code"}}
        </p>
      </div>
      <div class="display-flex justify-space-between">
        <button
          type="button"
          class="nes-btn is-primary m-0
            {{if this.isSignUpBtnDisabled " is-disabled"}}"
          disabled={{this.isSignUpBtnDisabled}}
          {{on "click" this.signUp}}
        >
          {{t "register.sign_up"}}
        </button>
        <LinkTo @route="login">
          <span class="nes-btn is-error">
            {{t "register.back"}}
          </span>
        </LinkTo>
      </div>
    </div>
  {{else if (eq this.currentState this.state.error)}}
    <div class="nes-container with-title">
      <p class="title">
        {{t "register.sign_up_error"}}
      </p>
      <p class="nes-text is-error">
        {{this.errorMessage}}
      </p>
      <button
        type="button"
        class="nes-btn is-primary"
        {{on "click" this.reset}}
      >
        {{t "register.try_again"}}
      </button>
    </div>
  {{else if (eq this.currentState this.state.invalidInviteCode)}}
    <div class="nes-container with-title">
      <p class="title">
        {{t "register.invalid_code"}}
      </p>
      <p class="nes-text is-error">
        {{t "register.invalid_code_content"}}
      </p>
      <button
        type="button"
        class="nes-btn is-primary"
        {{on "click" this.reset}}
      >
        {{t "register.try_again"}}
      </button>
    </div>
  {{/if}}
</div>