<div class="layout-body__container pv-4">
  {{#if (eq this.currentState this.state.createRoom)}}
    <div class="nes-container with-title mb-4">
      <p class="title">
        {{t "create_room.room_title"}}
      </p>
      <div class="nes-field mb-4">
        <label for="title">
          {{t "create_room.title"}}
        </label>
        <Input
          @type="text"
          @id="title"
          @value={{this.title}}
          class="nes-input"
          maxlength={{40}}
          placeholder={{t "create_room.title"}}
        />
      </div>
      <div class="nes-field mb-4">
        <label for="description">
          {{t "create_room.optional"}}
          {{t "create_room.description"}}
        </label>
        <Textarea
          type="text"
          id="description"
          class="nes-textarea"
          maxlength={{140}}
          @value={{this.description}}
          placeholder={{t "create_room.description"}}
        />
      </div>
      <div class="nes-field mb-4">
        <label>
          <Input
            @type="checkbox"
            @checked={{this.isScheduledRoom}}
            class="nes-checkbox ml-2"
          />
          <span>
            {{t "create_room.is_scheduled"}}
          </span>
        </label>
        {{#if this.isScheduledRoom}}
          <EmberFlatpickr
            placeholder="Choose a Date and time"
            @allowInput={{false}}
            @date={{this.scheduledFrom}}
            @enableTime={{true}}
            @hourIncrement={{1}}
            @maxDate={{this.scheduledTo}}
            @minDate={{this.scheduledFrom}}
            @minuteIncrement={{30}}
            @onChange={{this.updateDate}}
          />
        {{/if}}
      </div>
      {{#if this.isRoomCreateFail}}
        <p class="nes-text is-error mb-4">
          {{t "create_room.error"}}
        </p>
      {{/if}}
      <div class="display-flex justify-space-between mb-4">
        <button
          type="button"
          class="nes-btn is-primary m-0
            {{if this.isCreateBtnDisabled " is-disabled"}}"
          disabled={{this.isCreateBtnDisabled}}
          {{on "click" this.create}}
        >
          {{t "create_room.create"}}
        </button>
        {{#if this.isRoomCreateFail}}
          <button
            type="button"
            class="nes-btn is-warning m-0"
            {{on "click" this.reset}}
          >
            {{t "create_room.try_again"}}
          </button>
        {{/if}}
      </div>
    </div>
    {{#if this.isRoomCreateSucceed}}
      <Share @roomId={{this.roomId}} />
    {{/if}}
  {{else if (eq this.currentState this.state.verifyEmail)}}
    <div class="nes-container with-title mb-4">
      <p class="nes-text is-error title">
        {{t "create_room.no_access"}}
      </p>
      <p>
        {{t "create_room.verify_email_1"}}
      </p>
      <p>
        {{t "create_room.verify_email_2"}}
      </p>
      <div class="display-flex">
        <LinkTo @route="authentication.settings">
          <span class="nes-btn is-success">
            {{t "create_room.verify_email"}}
          </span>
        </LinkTo>
      </div>
    </div>
  {{/if}}
</div>