<div class="layout-body__container pv-4">
  {{#if (eq this.currentState this.state.setting)}}
    <div class="nes-container with-title mb-4">
      <p class="title">
        {{t "settings.change_avatar"}}
      </p>
      <div
        class="display-flex justify-space-between align-items-flex-start flex-wrap mb-5"
      >
        <AvatarSelector
          @chooseAvatar={{this.chooseAvatar}}
          @currentAvatar={{this.avatar}}
        />
      </div>
    </div>
    <div class="nes-container with-title mb-4">
      <p class="title">
        {{t "settings.update_information"}}
      </p>
      <div class="nes-field mb-4">
        {{#if this.authentication.email}}
          <p>
            <span>
              {{t "settings.current_email"}}
              :
              {{this.authentication.email}}
            </span>
            {{#if this.authentication.emailVerified}}
              <span class="nes-text is-success">
                {{t "settings.verified"}}
              </span>
            {{else}}
              <span class="nes-text is-warning">
                {{t "settings.not_verified"}}
              </span>
              {{#if this.isVerifyEmailSend}}
                <span>
                  {{t "settings.email_sent"}}
                </span>
              {{else}}
                <button type="button" {{on "click" this.verifyEmail}}>
                  {{t "settings.resend"}}
                </button>
              {{/if}}
            {{/if}}
          </p>
        {{/if}}
        <label for="user-email">
          {{t "settings.email"}}
        </label>
        <Input
          @type="email"
          @id="user-email"
          @value={{this.email}}
          @key-up={{set this "isSaved" false}}
          class="nes-input"
          placeholder="email"
        />
      </div>
      <div class="nes-field mb-4">
        {{#if this.isNewLangSaved}}
          <p class="nes-text is-success">
            {{t "settings.language_saved"}}
          </p>
        {{/if}}
        <label for="select_language">
          {{t "settings.select_lang"}}
        </label>
        <div class="nes-select">
          <select
            id="select_language"
            {{on "change" this.updateLanguage value="target.value"}}
          >
            <option
              value="en-us"
              selected={{if (eq this.language "en-us") true}}
            >
              {{t "settings.english"}}
            </option>
            <option
              value="zh-hans"
              selected={{if (eq this.language "zh-hans") true}}
            >
              {{t "settings.chinese"}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="nes-container with-title">
      <p class="title">
        {{t "settings.controls"}}
      </p>
      <div class="display-flex justify-space-between">
        <div>
          <button
            type="button"
            class="nes-btn is-primary m-en-us
              {{if this.isSaveBtnDisabled " is-disabled"}}"
            disabled={{this.isSaveBtnDisabled}}
            {{on "click" this.save}}
          >
            {{t "settings.save"}}
          </button>
          {{#if this.isSaved}}
            <span class="nes-text is-success">
              {{t "settings.change_saved"}}
            </span>
          {{/if}}
        </div>
        <LinkTo @route="authentication.home" class="nes-btn is-primary">
          {{t "settings.back_to_home"}}
        </LinkTo>
      </div>
    </div>
  {{else if (eq this.currentState this.state.error)}}
    <div class="nes-container with-title">
      <p class="title">
        {{t "settings.error_happens"}}
      </p>
      <p class="nes-text is-error">
        {{t "settings.error_happens_content"}}
      </p>
      <LinkTo @route="authentication.home" class="nes-btn is-primary">
        {{t "settings.back_to_home"}}
      </LinkTo>
    </div>
  {{/if}}
</div>